<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The Band</title>
  <link rel="stylesheet" href="../styles/utils.css" />
  <link rel="stylesheet" href="../styles/style.css" />
</head>
<body>
  <header class="band">
    <nav>
      <ul class="d-grid gtc-5">
        <li>
          <a href="javascript:;">HOME</a>
        </li>
        <li>
          <a href="javascript:;">BAND</a>
        </li>
        <li>
          <a href="javascript:;">TOUR</a>
        </li>
        <li>
          <a href="javascript:;">CONTACT</a>
        </li>
        <li class="dropdown ta-left">
          <a href="javascript:;"> MORE <i class="icon dropdown-icon"></i>
          </a>
          <ul class="dropdown-content p-absolute bg-ghostwhite hide">
            <li>
              <a href="javascript:;">Merchandise</a>
            </li>
            <li>
              <a href="javascript:;">Extras</a>
            </li>
            <li>
              <a href="javascript:;">Media</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <a href="javascript:;" class="search">
      <i class="icon search-icon"></i>
      <i class="icon hamburger-icon"></i>
    </a>
  </header>
  <section class="band">
    <article class="home">
      <figure class="p-relative">
        <img src="../styles/images/first.jpg" alt="random image" class="w-100" />
        <figcaption class="p-absolute c-white w-100">
          <h1>Los Angeles</h1>
          <p><strong>We had the best time playing at Venice Beach!</strong></p>
        </figcaption>
      </figure>
    </article>
    <article>
      <div>
        <h2>THE BAND</h2>
        <p><i class="c-grey">We love music</i></p>
        <p class="ta-justify"> We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <div class="band-list">
          <figure>
            <figcaption>Name</figcaption>
            <img src="../styles/images/bandmember.jpg" alt="bandmember-image" />
          </figure>
          <figure>
            <figcaption>Name</figcaption>
            <img src="../styles/images/bandmember.jpg" alt="bandmember-image" />
          </figure>
          <figure>
            <figcaption>Name</figcaption>
            <img src="../styles/images/bandmember.jpg" alt="bandmember-image" />
          </figure>
        </div>
      </div>
    </article>
    <article class="bg-black mt-40">
      <div>
        <h2>TOUR DATES</h2>
        <p><i class="c-grey">Remember to book your tickets</i></p>
        <ul class="tickets">
          <li>
            <span>September</span>
            <span class="bg-red c-white ml-12 py-4 px-8">Sold out</span>
          </li>
          <li>
            <span>October</span>
            <span class="bg-red c-white ml-12 py-4 px-8">Sold out</span>
          </li>
          <li class="d-grid gtc-2 jc-between">
            <span>November</span>
            <span class="px-8 br-50 bg-black">3</span>
          </li>
        </ul>
        <div class="cards gtc-3 ta-left g-16">
          <div class="card">
            <figure>
              <img src="../styles/images/newyork.jpg" alt="newyork-image">
              <figcaption>
                <h4>New York</h4>
                <p class="c-grey">Fri 27 Nov 2016</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <button class="bg-black" type="button">Buy Tickets</button>
              </figcaption>
            </figure>
          </div>
          <div class="card">
            <figure>
              <img src="../styles/images/paris.jpg" alt="paris-image">
              <figcaption>
                <h4>Paris</h4>
                <p class="c-grey">Sat 28 Nov 2016</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <button class="bg-black" type="button">Buy Tickets</button>
              </figcaption>
            </figure>
          </div>
          <div class="card">
            <figure>
              <img src="../styles/images/sanfran.jpg" alt="sanfran-image">
              <figcaption>
                <h4>San Francisco</h4>
                <p class="c-grey">Sun 29 Nov 2016</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <button class="bg-black" type="button">Buy Tickets</button>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </article>
    <article class="bg-white">
      <div class="contact">
        <h2>CONTACT</h2>
        <p class="c-grey"><em>Fan? Drop a note!</em></p>
        <div class="d-grid gtc-50">
          <div class="contact-details">
            <i class="icon location-icon"></i>
            <span>Chicago, US</span>
            <i class="icon call-icon"></i>
            <span>Phone: +00 151515</span>
            <i class="icon email-icon"></i>
            <span>Email: mail@mail.com</span>
          </div>
          <form>
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <!-- </div> -->
            <input type="text" placeholder="Message" required>
            <button class="bg-black as-end">Send</button>
          </form>
        </div>
      </div>
    </article>
    <img src="../styles/images/map.jpg" alt="map-image" class="w-100">
  </section>
  <footer class="c-grey ta-center py-64 px-16">
    <i class="icon fb-icon"></i>
    <i class="icon ig-icon"></i>
    <i class="icon snap-icon"></i>
    <i class="icon pinterest-icon"></i>
    <i class="icon twitter-icon"></i>
    <i class="icon linkedin-icon"></i>
    <p>Powered by <a href="javascript:;" class="footer-text">w3.css</a></p>
  </footer>
</body>
</html>