<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gourment au Catering</title>
  <link rel="stylesheet" href="../styles/utils.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <header class="catering bg-white">
    <a href="javascript:;">Gourmet au Catering</a>
    <nav>
      <ul class="d-flex jc-between">
        <li><a href="javascript:;">About</a></li>
        <li><a href="javascript:;">Menu</a></li>
        <li><a href="javascript:;">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section class="catering">
    <article class="home">
      <figure class="p-relative">
        <img src="../styles/images/hamburger.jpg" alt="hamburger_image">
        <figcaption class="p-absolute">
          <h1 class="c-grey">Le Catering</h1>
        </figcaption>
      </figure>
    </article>
    <article class="about">
      <figure class="d-flex">
        <div class="fb-100 about-image">
          <img src="../styles/images/tablesetting2.jpg" alt="plate-with-food">
        </div>
        <figcaption class="d-flex fd-column g-24 fb-100">
          <h2 class="ta-center">About Catering</h2>
          <div class="d-flex fd-column">
            <h4 class="ta-center">Tradition since 1889</h4>
            <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. We only use <span class="d-inline-block px-8 bg-lightgrey">seasonal</span> ingredients. </p>
            <p class="c-grey">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </figcaption>
      </figure>
    </article>
    <article class="menu">
      <figure class="d-flex">
        <figcaption class="d-flex fd-column g-24 fb-100">
          <h2 class="ta-center">Our Menu</h2>
          <ul class="menu">
            <li>
              <h3>Bread Basket</h3>
              <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
            </li>
            <li>
              <h3>Honey Almond Granola with Fruits</h3>
              <p>Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p>
            </li>
            <li>
              <h3>Belgian Waffle</h3>
              <p>Vanilla flavored batter with malted flour 7.50</p>
            </li>
            <li>
              <h3>Scrambled eggs</h3>
              <p>Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p>
            </li>
            <li>
              <h3>Blueberry Pancakes</h3>
              <p>With syrup, butter and lots of berries 8.50</p>
            </li>
          </ul>
        </figcaption>
        <div class="fb-100 menu-image">
          <img src="../styles/images/tablesetting.jpg" alt="plate-with-food">
        </div>
      </figure>
    </article>
    <article>
      <div class="d-flex fd-column">
        <h2>Contact</h2>
        <div class="d-flex fd-column">
          <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
          <p class="c-bluegrey"><strong>Catering Service, 42nd Living St, 43043 New York, NY</strong></p>
          <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
          <form class="d-flex fd-column g-24">
            <input type="text" placeholder="Name">
            <input type="number" placeholder="How many people">
            <input type="datetime-local" placeholder="How many people" value="2024-03-27T14:30">
            <input type="text" placeholder="Message\Special requirement">
            <button class="as-start">SEND MESSAGE</button>
          </form>
        </div>
      </div>
    </article>
  </section>
  <footer class="bg-lightgrey ta-center">
    <p>Powered by <a href="javascript:;" class="footer-text">w3.css</a></p>
  </footer>
</body>
</html>